<a href="https://colab.research.google.com/github/PIYUJIN/Business-Analytics_term-project/blob/main/final_merge_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

main data + Gov_Spnsorship

In [69]:
main_2015 = pd.read_excel( '/content/sample_data/main_2015.xlsx', engine='openpyxl')
main_2016 = pd.read_excel( '/content/sample_data/main_2016.xlsx', engine='openpyxl')
main_2017 = pd.read_excel( '/content/sample_data/main_2017.xlsx', engine='openpyxl')
main_2018 = pd.read_excel( '/content/sample_data/main_2018.xlsx', engine='openpyxl')
main_2019 = pd.read_excel( '/content/sample_data/main_2019.xlsx', engine='openpyxl')
main_2020 = pd.read_excel( '/content/sample_data/main_2020.xlsx', engine='openpyxl')
main_2021 = pd.read_excel( '/content/sample_data/main_2021.xlsx', engine='openpyxl')

In [70]:
main_2015

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,37
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,26
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,36
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,23
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,27
...,...,...,...,...,...,...,...,...,...
11879,2015,한국전통문화대학교,충남,인문계열,인문과학,보존과학과,21,139,21
11880,2015,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,126,21
11881,2015,한국전통문화대학교,충남,공학계열,건축,전통조경학과,21,100,20
11882,2015,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,42,142,40
11883,2015,한국전통문화대학교,충남,NaN,NaN,소속학과없음,0,0,0

In [71]:
main_2015['Gov_Spnsorship'] = 0
main_2016['Gov_Spnsorship'] = 0
main_2017['Gov_Spnsorship'] = 0
main_2018['Gov_Spnsorship'] = 0
main_2019['Gov_Spnsorship'] = 0
main_2020['Gov_Spnsorship'] = 0
main_2021['Gov_Spnsorship'] = 0

In [72]:
main_2015.columns

Index(['연도', '학교명', '시도', '대계열', '중계열', '학과명', '모집인원_학부_계', '지원자_전체_계',
       '입학자_전체_계', 'Gov_Spnsorship'],
      dtype='object')

In [73]:
main_2015['awareness'] = 0
main_2016['awareness'] = 0
main_2017['awareness'] = 0
main_2018['awareness'] = 0
main_2019['awareness'] = 0
main_2020['awareness'] = 0
main_2021['awareness'] = 0

In [74]:
for i in range(len(main_2015)):
    target = main_2015.loc[i]
    if(target['중계열']=='경영ㆍ경제') :
        main_2015.loc[[i],['awareness']] = 10
    elif (target['중계열']=='사회과학') :
        main_2015.loc[[i],['awareness']] = 9
    elif (target['중계열']=='기계ㆍ금속') :
        main_2015.loc[[i],['awareness']] = 8
    elif (target['중계열']=='언어ㆍ문학') :
        main_2015.loc[[i],['awareness']] = 7
    elif (target['중계열']=='디자인') :
        main_2015.loc[[i],['awareness']] = 6
    elif (target['중계열']=='중등교육') :
        main_2015.loc[[i],['awareness']] = 5
    elif (target['중계열']=='생물ㆍ화학ㆍ환경') :
        main_2015.loc[[i],['awareness']] = 4
    elif (target['중계열']=='컴퓨터ㆍ통신') :
        main_2015.loc[[i],['awareness']] = 3
    elif (target['중계열']=='인문과학') :
        main_2015.loc[[i],['awareness']] = 2
    elif (target['중계열']=='간호') :
        main_2015.loc[[i],['awareness']] = 1
    else :
        main_2015.loc[[i],['awareness']] = 0

In [75]:
# for i in range(len(main_2015)):
#     target = main_2015.loc[i]
#     print(target)

In [76]:
main_2015

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,37,0,7
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,26,0,7
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,36,0,7
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,23,0,7
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,27,0,2
...,...,...,...,...,...,...,...,...,...,...,...
11879,2015,한국전통문화대학교,충남,인문계열,인문과학,보존과학과,21,139,21,0,2
11880,2015,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,126,21,0,0
11881,2015,한국전통문화대학교,충남,공학계열,건축,전통조경학과,21,100,20,0,0
11882,2015,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,42,142,40,0,0
11883,2015,한국전통문화대학교,충남,NaN,NaN,소속학과없음,0,0,0,0,0

In [77]:
for i in range(len(main_2016)):
    target = main_2016.loc[i]
    if(target['중계열']=='경영ㆍ경제') :
        main_2016.loc[[i],['awareness']] = 10
    elif (target['중계열']=='간호') :
        main_2016.loc[[i],['awareness']] = 9
    elif (target['중계열']=='언어ㆍ문학') :
        main_2016.loc[[i],['awareness']] = 8
    elif (target['중계열']=='중등교육') :
        main_2016.loc[[i],['awareness']] = 7
    elif (target['중계열']=='사회과학') :
        main_2016.loc[[i],['awareness']] = 6
    elif (target['중계열']=='디자인') :
        main_2016.loc[[i],['awareness']] = 5
    elif (target['중계열']=='기계ㆍ금속') :
        main_2016.loc[[i],['awareness']] = 4
    elif (target['중계열']=='생물ㆍ화학ㆍ환경') :
        main_2016.loc[[i],['awareness']] = 3
    elif (target['중계열']=='컴퓨터ㆍ통신') :
        main_2016.loc[[i],['awareness']] = 2
    elif (target['중계열']=='연극ㆍ영화') :
        main_2016.loc[[i],['awareness']] = 1
    else :
        main_2016.loc[[i],['awareness']] = 0

In [78]:
for i in range(len(main_2017)):
    target = main_2017.loc[i]
    if(target['중계열']=='언어ㆍ문학') :
        main_2017.loc[[i],['awareness']] = 10
    elif (target['중계열']=='경영ㆍ경제') :
        main_2017.loc[[i],['awareness']] = 9
    elif (target['중계열']=='간호') :
        main_2017.loc[[i],['awareness']] = 8
    elif (target['중계열']=='디자인') :
        main_2017.loc[[i],['awareness']] = 7
    elif (target['중계열']=='생물ㆍ화학ㆍ환경') :
        main_2017.loc[[i],['awareness']] = 6
    elif (target['중계열']=='기계ㆍ금속') :
        main_2017.loc[[i],['awareness']] = 5
    elif (target['중계열']=='사회과학') :
        main_2017.loc[[i],['awareness']] = 4
    elif (target['중계열']=='컴퓨터ㆍ통신') :
        main_2017.loc[[i],['awareness']] = 3
    elif (target['중계열']=='인문과학') :
        main_2017.loc[[i],['awareness']] = 2
    elif (target['중계열']=='중등교육') :
        main_2017.loc[[i],['awareness']] = 1
    else :
        main_2017.loc[[i],['awareness']] = 0

In [79]:
for i in range(len(main_2018)):
    target = main_2018.loc[i]
    if(target['중계열']=='경영ㆍ경제') :
        main_2018.loc[[i],['awareness']] = 10
    elif (target['중계열']=='사회과학') :
        main_2018.loc[[i],['awareness']] = 9
    elif (target['중계열']=='언어ㆍ문학') :
        main_2018.loc[[i],['awareness']] = 8
    elif (target['중계열']=='간호') :
        main_2018.loc[[i],['awareness']] = 7
    elif (target['중계열']=='무용ㆍ체육') :
       main_2018.loc[[i],['awareness']] = 6
    elif (target['중계열']=='디자인') :
        main_2018.loc[[i],['awareness']] = 5
    elif (target['중계열']=='인문과학') :
        main_2018.loc[[i],['awareness']] = 4
    elif (target['중계열']=='기계ㆍ금속') :
        main_2018.loc[[i],['awareness']] = 3
    elif (target['중계열']=='중등교육') :
        main_2018.loc[[i],['awareness']] = 2
    elif (target['중계열']=='컴퓨터ㆍ통신') :
        main_2018.loc[[i],['awareness']] = 1
    else :
        main_2018.loc[[i],['awareness']] = 0

In [80]:
for i in range(len(main_2019)):
    target = main_2019.loc[i]
    if(target['중계열']=='경영ㆍ경제') :
        main_2019.loc[[i],['awareness']] = 10
    elif (target['중계열']=='언어ㆍ문학') :
        main_2019.loc[[i],['awareness']] = 9
    elif (target['중계열']=='컴퓨터ㆍ통신') :
        main_2019.loc[[i],['awareness']] = 8
    elif (target['중계열']=='사회과학') :
        main_2019.loc[[i],['awareness']] = 7
    elif (target['중계열']=='디자인') :
        main_2019.loc[[i],['awareness']] = 6
    elif (target['중계열']=='인문과학') :
        main_2019.loc[[i],['awareness']] = 5
    elif (target['중계열']=='무용ㆍ체육') :
        main_2019.loc[[i],['awareness']] = 4
    elif (target['중계열']=='중등교육') :
        main_2019.loc[[i],['awareness']] = 3
    elif (target['중계열']=='간호') :
        main_2019.loc[[i],['awareness']] = 2
    elif (target['중계열']=='생물ㆍ화학ㆍ환경') :
        main_2019.loc[[i],['awareness']] = 1
    else :
        main_2019.loc[[i],['awareness']] = 0

In [81]:
main_2019

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness
0,2019,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,36,187,37,0,9
1,2019,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,24,162,26,0,9
2,2019,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,32,145,33,0,9
3,2019,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,18,164,18,0,9
4,2019,강릉원주대학교,강원,인문계열,인문과학,사학과,19,149,22,0,5
...,...,...,...,...,...,...,...,...,...,...,...
12532,2019,한국전통문화대학교,충남,인문계열,인문과학,기타모집단위,2,0,0,0,5
12533,2019,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,154,20,0,0
12534,2019,한국전통문화대학교,충남,공학계열,건축,전통조경학과,16,105,16,0,0
12535,2019,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,41,145,40,0,0
12536,2019,한국전통문화대학교,충남,NaN,NaN,소속학과없음,0,0,0,0,0

In [83]:
for i in range(len(main_2020)):
    target = main_2020.loc[i]
    if(target['중계열']=='컴퓨터ㆍ통신') :
        main_2020.loc[[i],['awareness']] = 10
    elif (target['중계열']=='경영ㆍ경제') :
        main_2020.loc[[i],['awareness']] = 9
    elif (target['중계열']=='생물ㆍ화학ㆍ환경') :
        main_2020.loc[[i],['awareness']] = 8
    elif (target['중계열']=='간호') :
        main_2020.loc[[i],['awareness']] = 7
    elif (target['중계열']=='디자인') :
        main_2020.loc[[i],['awareness']] = 6
    elif (target['중계열']=='사회과학') :
        main_2020.loc[[i],['awareness']] = 5
    elif (target['중계열']=='언어ㆍ문학') :
        main_2020.loc[[i],['awareness']] = 4
    elif (target['중계열']=='의료') :
        main_2020.loc[[i],['awareness']] = 3
    elif (target['중계열']=='화공') :
        main_2020.loc[[i],['awareness']] = 2
    elif (target['중계열']=='기계ㆍ금속') :
        main_2020.loc[[i],['awareness']] = 1
    else :
        main_2020.loc[[i],['awareness']] = 0

In [86]:
for i in range(len(main_2021)):
    target = main_2021.loc[i]
    if(target['중계열']=='치료ㆍ보건') :
        main_2021.loc[[i],['awareness']] = 10
    elif (target['중계열']=='응용예술') :
        main_2021.loc[[i],['awareness']] = 9
    elif (target['중계열']=='유아교육' or target['중계열']=='중등교육' or target['중계열']=='초등교육' or target['중계열']=='특수교육') :
        main_2021.loc[[i],['awareness']] = 8
    elif (target['대계열']=='공학계열') :
        main_2021.loc[[i],['awareness']] = 7
    elif (target['중계열']=='경영ㆍ경제') :
        main_2021.loc[[i],['awareness']] = 6
    elif (target['중계열']=='생물ㆍ화학ㆍ환경') :
        main_2021.loc[[i],['awareness']] = 5
    elif (target['중계열']=='사회과학') :
        main_2021.loc[[i],['awareness']] = 4
    elif (target['중계열']=='컴퓨터ㆍ통신') :
        main_2021.loc[[i],['awareness']] = 3
    elif (target['중계열']=='언어ㆍ문학') :
        main_2021.loc[[i],['awareness']] = 2
    elif (target['중계열']=='교육일반') :
        main_2021.loc[[i],['awareness']] = 1
    else :
            main_2021.loc[[i],['awareness']] = 0

In [87]:
df_2015 = pd.read_excel('/content/sample_data/2015_filtered.xlsx' , engine='openpyxl')
df_2016 = pd.read_excel('/content/sample_data/2016_filtered.xlsx' , engine='openpyxl')
df_2017 = pd.read_excel('/content/sample_data/2017_filtered.xlsx' , engine='openpyxl')
df_2018 = pd.read_excel('/content/sample_data/2018_filtered.xlsx' , engine='openpyxl')
df_2019 = pd.read_excel('/content/sample_data/2019_filtered.xlsx' , engine='openpyxl')
df_2020 = pd.read_excel('/content/sample_data/2020_filtered.xlsx' , engine='openpyxl')
df_2021 = pd.read_excel('/content/sample_data/2021_filtered.xlsx' , engine='openpyxl')

In [88]:
main_2015

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,37,0,7
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,26,0,7
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,36,0,7
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,23,0,7
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,27,0,2
...,...,...,...,...,...,...,...,...,...,...,...
11879,2015,한국전통문화대학교,충남,인문계열,인문과학,보존과학과,21,139,21,0,2
11880,2015,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,126,21,0,0
11881,2015,한국전통문화대학교,충남,공학계열,건축,전통조경학과,21,100,20,0,0
11882,2015,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,42,142,40,0,0
11883,2015,한국전통문화대학교,충남,NaN,NaN,소속학과없음,0,0,0,0,0

In [89]:
main_ = main_2015
df_ = df_2015

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2015_com = main_

In [90]:
main_ = main_2016
df_ = df_2016

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2016_com = main_

In [91]:
main_ = main_2017
df_ = df_2017

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2017_com = main_

In [92]:
main_ = main_2018
df_ = df_2018

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2018_com = main_

In [93]:
main_ = main_2019
df_ = df_2019

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2019_com = main_

In [94]:
main_ = main_2020
df_ = df_2020

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2020_com = main_

In [95]:
main_ = main_2021
df_ = df_2021

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2021_com = main_

In [96]:
result = pd.concat([main_2015_com, main_2016_com, main_2017_com, main_2018_com, main_2019_com, main_2020_com, main_2021_com])

In [97]:
result.head(50)

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship,awareness
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,1,0,7
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,1,0,7
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,1,0,7
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,1,0,7
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,1,0,2
5,2015,강릉원주대학교,강원,인문계열,인문과학,일본학과,29,135,1,0,2
6,2015,강릉원주대학교,강원,인문계열,인문과학,철학과,28,157,1,0,2
7,2015,강릉원주대학교,강원,인문계열,인문과학,기타모집단위,10,0,1,0,2
8,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,경영학과,43,213,1,0,10
9,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,관광경영학과,50,336,1,0,10
10,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,경제학과,40,196,1,0,10
11,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,회계학과,41,211,1,0,10
12,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,국제통상학과,42,182,1,0,10
13,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,무역학과,40,198,1,0,10
14,2015,강릉원주대학교,강원,사회계열,법률,법학과,39,170,1,0,0
15,2015,강릉원주대학교,강원,사회계열,사회과학,도시계획부동산학과,40,163,1,0,9
16,2015,강릉원주대학교,강원,사회계열,사회과학,자치행정학과,40,216,1,0,9
17,2015,강릉원주대학교,강원,교육계열,교육일반,교직과정부,0,0,1,0,0
18,2015,강릉원주대학교,강원,교육계열,유아교육,유아교육과,0,0,1,0,0
19,2015,강릉원주대학교,강원,공학계열,토목ㆍ도시,토목공학과,43,215,1,0,0
20,2015,강릉원주대학교,강원,공학계열,기계ㆍ금속,정밀기계공학과,0,0,1,0,8
21,2015,강릉원주대학교,강원,공학계열,전기ㆍ전자,전자공학과,89,452,1,0,0
22,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,화학신소재학과,36,164,1,0,0
23,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,"신소재, 토목공학과군",0,0,1,0,0
24,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,신소재금속공학과,33,181,1,0,0
25,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,세라믹신소재공학과,34,207,1,0,0
26,2015,강릉원주대학교,강원,공학계열,컴퓨터ㆍ통신,정보전자공학부(컴퓨터공학전공),0,0,1,0,3
27,2015,강릉원주대학교,강원,공학계열,산업,산업정보경영공학과,0,0,1,0,0
28,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,생명화학공학과,34,218,1,0,4
29,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생명공학부,0,0,1,0,4
30,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,식물생명과학과,37,149,1,0,4
31,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,식품가공유통학과,32,127,1,0,4
32,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양분자생명공학과,33,168,1,0,4
33,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,생물학과,33,188,1,0,4
34,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생물공학과,34,241,1,0,4
35,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생명공학부(해양생물공학전공),0,0,1,0,4
36,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양자원육성학과,35,133,1,0,4
37,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생명공학부(해양자원육성전공),0,0,1,0,4
38,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,환경응용화학공학과,0,0,1,0,4
39,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,환경조경학과,39,202,1,0,4
40,2015,강릉원주대학교,강원,자연계열,생활과학,식품과학과,0,0,1,0,0
41,2015,강릉원주대학교,강원,자연계열,생활과학,식품영양학과,32,167,1,0,0
42,2015,강릉원주대학교,강원,자연계열,생활과학,해양식품공학과,37,142,1,0,0
43,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,수학과,33,147,1,0,0
44,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,정보통계학과,35,161,1,0,0
45,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,물리학과,29,102,1,0,0
46,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,대기환경과학과,36,184,1,0,0
47,2015,강릉원주대학교,강원,의약계열,의료,치위생학과,31,126,1,0,0
48,2015,강릉원주대학교,강원,의약계열,의료,치의예과,42,652,1,0,0
49,2015,강릉원주대학교,강원,의약계열,의료,치의학과,0,0,1,0,0

In [98]:
result.to_excel('merged_main_data_final.xlsx', index = False)