<a href="https://colab.research.google.com/github/PIYUJIN/Business-Analytics_term-project/blob/main/final_merge_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

main data + Gov_Spnsorship

In [7]:
main_2015 = pd.read_excel( '/content/sample_data/main_2015.xlsx', engine='openpyxl')
main_2016 = pd.read_excel( '/content/sample_data/main_2016.xlsx', engine='openpyxl')
main_2017 = pd.read_excel( '/content/sample_data/main_2017.xlsx', engine='openpyxl')
main_2018 = pd.read_excel( '/content/sample_data/main_2018.xlsx', engine='openpyxl')
main_2019 = pd.read_excel( '/content/sample_data/main_2019.xlsx', engine='openpyxl')
main_2020 = pd.read_excel( '/content/sample_data/main_2020.xlsx', engine='openpyxl')
main_2021 = pd.read_excel( '/content/sample_data/main_2021.xlsx', engine='openpyxl')

In [8]:
main_2015

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,37
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,26
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,36
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,23
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,27
...,...,...,...,...,...,...,...,...,...
11879,2015,한국전통문화대학교,충남,인문계열,인문과학,보존과학과,21,139,21
11880,2015,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,126,21
11881,2015,한국전통문화대학교,충남,공학계열,건축,전통조경학과,21,100,20
11882,2015,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,42,142,40
11883,2015,한국전통문화대학교,충남,NaN,NaN,소속학과없음,0,0,0

In [9]:
main_2015['Gov_Spnsorship'] = 0
main_2016['Gov_Spnsorship'] = 0
main_2017['Gov_Spnsorship'] = 0
main_2018['Gov_Spnsorship'] = 0
main_2019['Gov_Spnsorship'] = 0
main_2020['Gov_Spnsorship'] = 0
main_2021['Gov_Spnsorship'] = 0

In [10]:
main_2015.columns

Index(['연도', '학교명', '시도', '대계열', '중계열', '학과명', '모집인원_학부_계', '지원자_전체_계',
       '입학자_전체_계', 'Gov_Spnsorship'],
      dtype='object')

In [11]:
df_2015 = pd.read_excel('/content/sample_data/2015_filtered.xlsx' , engine='openpyxl')
df_2016 = pd.read_excel('/content/sample_data/2016_filtered.xlsx' , engine='openpyxl')
df_2017 = pd.read_excel('/content/sample_data/2017_filtered.xlsx' , engine='openpyxl')
df_2018 = pd.read_excel('/content/sample_data/2018_filtered.xlsx' , engine='openpyxl')
df_2019 = pd.read_excel('/content/sample_data/2019_filtered.xlsx' , engine='openpyxl')
df_2020 = pd.read_excel('/content/sample_data/2020_filtered.xlsx' , engine='openpyxl')
df_2021 = pd.read_excel('/content/sample_data/2021_filtered.xlsx' , engine='openpyxl')

In [12]:
main_2015

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,37,0
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,26,0
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,36,0
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,23,0
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,27,0
...,...,...,...,...,...,...,...,...,...,...
11879,2015,한국전통문화대학교,충남,인문계열,인문과학,보존과학과,21,139,21,0
11880,2015,한국전통문화대학교,충남,공학계열,건축,전통건축학과,21,126,21,0
11881,2015,한국전통문화대학교,충남,공학계열,건축,전통조경학과,21,100,20,0
11882,2015,한국전통문화대학교,충남,예체능계열,응용예술,전통미술공예학과,42,142,40,0
11883,2015,한국전통문화대학교,충남,NaN,NaN,소속학과없음,0,0,0,0

In [13]:
main_ = main_2015
df_ = df_2015

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2015_com = main_

In [14]:
main_ = main_2016
df_ = df_2016

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2016_com = main_

In [15]:
main_ = main_2017
df_ = df_2017

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2017_com = main_

In [16]:
main_ = main_2018
df_ = df_2018

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2018_com = main_

In [17]:
main_ = main_2019
df_ = df_2019

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2019_com = main_

In [18]:
main_ = main_2020
df_ = df_2020

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2020_com = main_

In [19]:
main_ = main_2021
df_ = df_2021

for i in range(len(main_)):
    for j in range(len(df_)):
        if(main_.iat[i,1] == df_.iat[j,1]):
            main_.iat[i,8] = df_.iat[j,2]

main_2021_com = main_

In [20]:
result = pd.concat([main_2015_com, main_2016_com, main_2017_com, main_2018_com, main_2019_com, main_2020_com, main_2021_com])

In [21]:
result.head(50)

,연도,학교명,시도,대계열,중계열,학과명,모집인원_학부_계,지원자_전체_계,입학자_전체_계,Gov_Spnsorship
0,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,국어국문학과,38,238,1,0
1,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,중어중문학과,27,154,1,0
2,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,영어영문학과,38,193,1,0
3,2015,강릉원주대학교,강원,인문계열,언어ㆍ문학,독어독문학과,23,118,1,0
4,2015,강릉원주대학교,강원,인문계열,인문과학,사학과,27,174,1,0
5,2015,강릉원주대학교,강원,인문계열,인문과학,일본학과,29,135,1,0
6,2015,강릉원주대학교,강원,인문계열,인문과학,철학과,28,157,1,0
7,2015,강릉원주대학교,강원,인문계열,인문과학,기타모집단위,10,0,1,0
8,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,경영학과,43,213,1,0
9,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,관광경영학과,50,336,1,0
10,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,경제학과,40,196,1,0
11,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,회계학과,41,211,1,0
12,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,국제통상학과,42,182,1,0
13,2015,강릉원주대학교,강원,사회계열,경영ㆍ경제,무역학과,40,198,1,0
14,2015,강릉원주대학교,강원,사회계열,법률,법학과,39,170,1,0
15,2015,강릉원주대학교,강원,사회계열,사회과학,도시계획부동산학과,40,163,1,0
16,2015,강릉원주대학교,강원,사회계열,사회과학,자치행정학과,40,216,1,0
17,2015,강릉원주대학교,강원,교육계열,교육일반,교직과정부,0,0,1,0
18,2015,강릉원주대학교,강원,교육계열,유아교육,유아교육과,0,0,1,0
19,2015,강릉원주대학교,강원,공학계열,토목ㆍ도시,토목공학과,43,215,1,0
20,2015,강릉원주대학교,강원,공학계열,기계ㆍ금속,정밀기계공학과,0,0,1,0
21,2015,강릉원주대학교,강원,공학계열,전기ㆍ전자,전자공학과,89,452,1,0
22,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,화학신소재학과,36,164,1,0
23,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,"신소재, 토목공학과군",0,0,1,0
24,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,신소재금속공학과,33,181,1,0
25,2015,강릉원주대학교,강원,공학계열,소재ㆍ재료,세라믹신소재공학과,34,207,1,0
26,2015,강릉원주대학교,강원,공학계열,컴퓨터ㆍ통신,정보전자공학부(컴퓨터공학전공),0,0,1,0
27,2015,강릉원주대학교,강원,공학계열,산업,산업정보경영공학과,0,0,1,0
28,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,생명화학공학과,34,218,1,0
29,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생명공학부,0,0,1,0
30,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,식물생명과학과,37,149,1,0
31,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,식품가공유통학과,32,127,1,0
32,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양분자생명공학과,33,168,1,0
33,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,생물학과,33,188,1,0
34,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생물공학과,34,241,1,0
35,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생명공학부(해양생물공학전공),0,0,1,0
36,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양자원육성학과,35,133,1,0
37,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,해양생명공학부(해양자원육성전공),0,0,1,0
38,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,환경응용화학공학과,0,0,1,0
39,2015,강릉원주대학교,강원,자연계열,생물ㆍ화학ㆍ환경,환경조경학과,39,202,1,0
40,2015,강릉원주대학교,강원,자연계열,생활과학,식품과학과,0,0,1,0
41,2015,강릉원주대학교,강원,자연계열,생활과학,식품영양학과,32,167,1,0
42,2015,강릉원주대학교,강원,자연계열,생활과학,해양식품공학과,37,142,1,0
43,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,수학과,33,147,1,0
44,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,정보통계학과,35,161,1,0
45,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,물리학과,29,102,1,0
46,2015,강릉원주대학교,강원,자연계열,수학ㆍ물리ㆍ천문ㆍ지리,대기환경과학과,36,184,1,0
47,2015,강릉원주대학교,강원,의약계열,의료,치위생학과,31,126,1,0
48,2015,강릉원주대학교,강원,의약계열,의료,치의예과,42,652,1,0
49,2015,강릉원주대학교,강원,의약계열,의료,치의학과,0,0,1,0

In [22]:
result.to_excel('merged_main_data_final.xlsx', index = False)